$primary-color: #a71d31;
$primary-color-transparent: rgba(167, 29, 49, 0.7);
$secondary-color: #fde74c;
$tertiary-color: #1ea896;

body, html {
  width: 100%;
  height: 100%;
  background-image: url("../../img/mainbackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

form {
  width: 90%;
  padding: 10px;
  margin: 70px auto;
  border-radius: 3px;
  background-color: $primary-color-transparent;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-size: 12px;
}

span {
  color: $tertiary-color;
  cursor: pointer;
}

.btn {
  width: 150px;
  margin: 20px 0;
}

.btn-primary {
  background-color: transparent;
  border-color: $tertiary-color;
  border-width: 2px;
  color: white;
}

.btn-primary:active {
  background-color: white;
}

.btn-primary:hover {
  background-color: $tertiary-color;
  border-color: $tertiary-color;
}

.form-group {
  width: 90%;
  margin: 20px 0;
}

.text-muted {
  color: $tertiary-color!important;
}

@media only screen and (min-width: 500px) {
  form {
    width: 450px;
  }
}
