$primary-color: #a71d31;
$primary-color-transparent: rgba(167, 29, 49, 0.7);
$secondary-color: #fde74c;
$tertiary-color: #1ea896;

.movie-view {
  font-family: 'Ubuntu', sans-serif;
  background-color: $primary-color-transparent;
  margin: 50px 10px;
  padding: 20px;
  color: $secondary-color;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.btn {
  width: 150px;
  margin: 20px 0;
}

.btn-primary {
  background-color: transparent;
  border-color: $tertiary-color;
  border-width: 2px;
  color: white;
}

.btn-primary:hover {
  background-color: $tertiary-color;
  border-color: $tertiary-color;
}
