$primary-color: #a71d31;
$primary-color-transparent: rgba(167, 29, 49, 0.7);
$secondary-color: #fde74c;
$tertiary-color: #1ea896;

.main-view {
  padding: 5px;
}

.container {
  margin-bottom: 50px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.navbar button {
  background-color: $primary-color-transparent;
  border: none;
  border-radius: 3px;
  font-family: 'Ubuntu', sans-serif;
  color: $secondary-color;
  font-size: 18px;
  padding: 5px;
  margin: 0 10px;
}

.navbar img {
  width: 16px;
  margin-left: 5px;
  padding-bottom: 3px;
}
