$primary-color: #a71d31;
$primary-color-transparent: rgba(167, 29, 49, 0.7);
$secondary-color: #fde74c;
$tertiary-color: #1ea896;

.profile-view {
  max-width: 700px;
  margin: 10px auto;
  background-color: $primary-color-transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  color: $secondary-color;
}

.profile-view .btn {
  width: 160px;
}

.changeDataForm {
  margin-top: 30px;
  display: none;
  border-top: 1px solid $tertiary-color;
}

.show-form {
  display: inherit;
  position: relative;
  animation: formSlideDown .3s ease-in;
}

@keyframes formSlideDown {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
